<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="homePageTests">
        <classes>
                <class name="pageTest.HomePageTests"/>
        </classes>
    </test>

    <test name="loginPageTests">
        <classes>
            <class name="pageTest.LoginPageTests"/>
        </classes>
    </test>
</suite>